**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/node_modules
**/.next
**/.git
**/.env
**/.env.*
!**/.env.example
**/dev.db
**/test.db
**/*.sqlite3
**/venv
**/.venv
**/.coverage
**/htmlcov
**/dist
**/.DS_Store
**/Thumbs.db
